<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>createTempFiles</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>maxRequestSize</param-name>
        <param-value>1000000</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.skin</param-name>
        
        <!--Skin manizales-->
        <param-value>manizales</param-value>
        
    </context-param>
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>
            org.springframework.web.context.request.RequestContextListener
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GwtRemoteServiceServlet</servlet-name>
        <servlet-class>org.spring4gwt.server.SpringGwtRemoteServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GwtRemoteServiceServlet</servlet-name>
        <url-pattern>/planoperativo/springGwtServices/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <!-- Session timeout zoom-->
        <session-timeout>
            30
        </session-timeout>
       
    </session-config>
    
    <welcome-file-list>
        <welcome-file>Inicio.xhtml</welcome-file>
    </welcome-file-list>
    <!--Inicio Cobras 
    <welcome-file-list>
        <welcome-file>Inicio.xhtml</welcome-file>
    </welcome-file-list>-->
    
   <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/sesion_vencida.xhtml</location>
    </error-page>    
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/Errores.xhtml</location>
    </error-page> 
    
    <error-page>
        <error-code>500</error-code>
        <location>/Errores.xhtml</location>
    </error-page>
    
    
    <!--
    <filter>
        <filter-name>FiltroUsuario</filter-name>
        <filter-class>cobra.FiltroZoom.FiltroDocumentos</filter-class>
        <init-param>
            <param-name>LoginUsuario</param-name>
            <param-value>/Errores.xhtml</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>FiltroUsuario</filter-name>
        <url-pattern>/resources/Documentos/*</url-pattern>
    </filter-mapping>-->
    
        <!--Servlet para restaurar la contraseña-->
    <servlet> 
        <servlet-name>Repass</servlet-name> 
        <servlet-class>Repass</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>Repass</servlet-name> 
        <url-pattern>/Repass</url-pattern> 
    </servlet-mapping> 
</web-app>
