/* 
    Document   : AprobacionCh
    Created on : 6/06/2013, 02:36:03 PM
    Author     : desarrollo6
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

