@font-face {
    font-family: "open";
    src: url("font/OpenSans-Light.ttf");
}

.tabla {
    width: 100%;    
    font-family:arial,verdana,times;
    font-size:12px;
}
.tabla p {
    clear:both;
    width: 100%;
    margin: 0;
}
.tabla p > div{
    padding: 1px;
    float:left;
    width:100px;
}

.tabla .columna {
    padding: 2px;
    float:left;
}

.modal-content{
    width: 450px;
    height: 150px;
}

.modal-header{
    width: 100%;
    clear: both;
    height: 40px;
    border-color: transparent;
    background-color: #00B2E0;
}

.modal-body{
    width: 100%;
    height: 160px;    
    border-width: 0px;
    border: transparent !important;
    background-color: #FFF;
}

.modal-content label, .modal-content div, .modal-content p{
    font-family: 'open';
}

.textvalla1{
    color: #FFF;
    font-size: 1.3em;
    position: relative;
    top: 5px;
    left: 10px;
    text-transform: uppercase;
    font-weight: bolder;
}
.textvalla2{
    font-size: 10px;
    color: #585858;
}

.textvalla3{
    font-size: 12px;
    color: #000;
}

.textvalla4{
    color: #FFF;
    font-weight: bolder;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 15px;
}

.textvalla5{
    color: #FFF;
    font-weight: bolder;
    font-size: 17px;

}

.textvalla6{
    font-size: 1.5em;
    color: #585858;
}

.textvalla7{
    color: #FFF;
    font-size: 1.3em;
    position: relative;
    top: 5px;
    left: 10px;
    text-transform: uppercase;
}

.textvalla8{
    font-size: 12px;
    font-family: 'open';
    font-style: italic;
    color : #00B3DF!important;
    font-weight: bolder;
    text-decoration: none;
}

.content-left{
    width: 310px!important;
    float: left;
    margin-left: 10px;
}

.content-rigth{
    width: 130px!important;
    float: left;
}

.imagotipo{
    float: left;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 2px;
    background-image: url("img/imagotipo.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 30px 30px;
}

.vallacontentinfo{
    width: 95px;
    height: 60px;
    margin-right: 3px;
    color: #FFF;
    margin-top: 5px;
}

.imgvalla{
    width: 120px;
    height: 100px;
}



.imgaction{
    background-image: url("img/btns_sprite.png");
    background-repeat: no-repeat;
    background-size: 75px 36px;
    width: 25px;
    height: 20px;
    display: block;
    cursor: pointer;
}

.imgaction.button1{
    background-position: 0px 3px;
}

.imgaction.button2{
    background-position: -25px 3px;
}

.imgaction.button3{
    background-position: -50px 3px;
}
.imgaction.button1:hover{
    background-position: 0px -16px;
}

.imgaction.button2:hover{
    background-position: -25px -16px;
}

.imgaction.button3:hover{
    background-position: -50px -16px;
}

.imgaction:link {
    position: relative;
}

.imgaction:after{
    font-family: "century";
    content: attr(value);
    position: absolute;
    color: white;
    top: auto;
    left: auto;
    font-size: 1.2em;
    background-color: rgba(0,0,0,0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0.8, StartColorstr='#000000', EndColorstr='#000000');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0.8, StartColorstr='#000000', EndColorstr='#000000');
    padding: 5px 15px;
    display: none;
    -moz-border-radius: 10px ; 
    -ms-border-radius: 10px ; 
    -webkit-border-radius: 10px ; 
    border-radius: 10px; 
    margin-left: -10px;
    margin-top: 20px;
    z-index: 1;
}
a.imgaction:hover:after{
    display: block;    
}

.tool{
    cursor: pointer;
}

.tool div{
    -moz-transform: scaleY(0);-moz-transform-origin: 50% 0;-moz-transition: all 0.5s ease 0s;
    -webkit-transform: scaleY(0);-webkit-transform-origin: 50% 0;-webkit-transition: all 0.5s ease 0s;
    -o-transform: scaleY(0);-o-transform-origin: 50% 0;-o-transition: all 0.5s ease 0s;
    -ms-transform: scaleY(0);-ms-transform-origin: 50% 0;-ms-transition: all 0.5s ease 0s;
    transform: scaleY(0);transform-origin: 50% 0;transition: all 0.5s ease 0s;
    -ms-border-radius: 10px ; border-radius: 10px; 
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
    color: white!important;
    font-size: 10px;
    opacity: 0;
    padding: 5px;
    width: auto;
    position: absolute;
    color: white;
    top: auto;
    left: auto;
    z-index: 1000;
}

.tool:hover div {
    -moz-transform: scaleY(1);-webkit-transform: scaleY(1);-o-transform: scaleY(1);-ms-transform: scaleY(1);transform: scaleY(1);
    opacity: 1;
}


.imgestado:after{
    font-family: "century";
    content: attr(value);
    position: absolute;
    color: white;
    top: auto;
    left: auto;
    font-size: 1.2em;
    background-color: rgba(0,0,0,0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0.8, StartColorstr='#000000', EndColorstr='#000000');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0.8, StartColorstr='#000000', EndColorstr='#000000');
    padding: 5px 15px;
    display: none;
    -moz-border-radius: 10px ; 
    -ms-border-radius: 10px ; 
    -webkit-border-radius: 10px ; 
    border-radius: 10px; 
    margin-left: 35px;
    margin-top: 10px;
    z-index: 1;
}
.imgestado:hover:after{
    display: block;    
}

.sepate-title{
    width: 20px;
    height: 25px;
    border-right: #F8F220 1px solid;
    margin-top: 5px;
}

.info-ne{
    background-color: #0071BD;
}

.info-nbi{
    background-color: #2AABE4;
}

.info-pe{
    background-color: #01A89E;
}

.img-informe-pe{
    background-image: url("img/fcm_icons_personas.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    display: block;
    margin-top: 15px;
}

.img-datos-habitantes{
    background-image: url("img/fcm_icons_personas.png");
    background-repeat: no-repeat;
    background-position: -40px 0px;
    width: 40px;
    height: 40px;
    display: block;    
    margin-top: 15px;
}

.colum-potencialenergetico{
    width: 70px;
}

.colum-img-datos{
    width: 35px;
}

.indicador-img-ne{
    background-image: url("img/fcm_icons_indicadores.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 25px;
    display: inline-block;    
    position: relative;
    top: 4px;
}
.indicador-img-nbi{
    background-image: url("img/fcm_icons_indicadores.png");
    background-repeat: no-repeat;
    background-position: -23px 0px;
    width: 25px;
    height: 25px;
    display: inline-block;    
    position: relative;
    top: 4px;
}
.indicador-img-pe{
    background-image: url("img/fcm_icons_indicadores.png");
    background-repeat: no-repeat;
    background-position: -53px 0px;
    width: 25px;
    height: 25px;
    display: inline-block;    
    position: relative;
    top: 4px;
}

.panelcenter{
    text-align: center;
}