/* 
    Document   : MovimientosFinancieros
    Created on : 6/06/2013, 05:06:39 PM
    Author     : desarrollo6
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

