/*
        Featured Content Slider
        by: Chris Coyier
*/
*											{ margin: 0; padding: 0; }
body 										{ font-family: Arial, Helvetica, sans-serif; font-size: 10px; }


/*
        UTILITY STYLES
*/				  				  

.floatLeft 									{ float: left; margin-right: 10px;}
.floatRight									{ float: right; }
.clear 										{ clear: both; }
a											{ outline: none; }


/*
        PAGE STRUCTURE
*/
#page-wrap 									{ width: 500px; margin: 25px auto; position: relative; min-height: 500px;
                      background: url(../imgs/bg.png) top center; }


/*
        TYPOGRAPHY
*/
ul											{ list-style: square inside; }
a, a:visited								{ color: #729dff; text-decoration: none; }
a:hover, a:active							{ color: blue; }
blockquote									{ padding: 0 20px; margin-left: 20px; border-left: 20px solid #ccc; font-size: 14px; 
                     font-family: Georgia, serif; font-style: italic; margin-top: 10px;}

/*
        SLIDER
*/
.slider-wrap								{ width: 419px; position: absolute; top: 87px; left: 40px; }			
.stripViewer .panelContainer 
.panel ul									{ text-align: left; margin: 0 15px 0 30px; }
.stripViewer								{ position: relative; overflow: hidden; width: 419px; height: 285px; }
.stripViewer .panelContainer				{ position: relative; left: 0; top: 0; }
.stripViewer .panelContainer .panel			{ float: left; height: 100%; position: relative; width: 419px; }
.stripNavL, .stripNavR, .stripNav			{ display: none; }
.nav-thumb 									{ border: 1px solid black; margin-right: 5px; }
#movers-row									{ margin: -43px 0 0 62px; }
#movers-row div								{ width: 20%; float: left; }
#movers-row div a.cross-link 				{ float: right; }
.photo-meta-data							{ background: url(../imgs/transpBlack.png); padding: 10px; height: 30px;
                         margin-top: -50px; position: relative; z-index: 9999; color: white; }
.photo-meta-data span 						{ font-size: 13px; }
.cross-link									{ display: block; width: 62px; margin-top: -14px; 
                      position: relative; padding-top: 15px; z-index: 9999; }
.active-thumb 								{ background: transparent url(../imgs/icon-uparrowsmallwhite.png) top center no-repeat; }






.style-valla{
    -moz-border-top-right-radius: 25px!important;
    -ms-border-top-right-radius: 25px!important;
    -webkit-border-top-right-radius: 25px!important;
    border-top-right-radius: 25px!important;
    -moz-border-bottom-right-radius: 25px ; 
    -ms-border-bottom-right-radius: 25px ; 
    -webkit-bottom-right-radius: 25px ; 
    border-bottom-right-radius: 25px ; 
    -moz-border-bottom-left-radius: 25px ; 
    -ms-border-bottom-left-radius: 25px ; 
    -webkit-bottom-left-radius: 25px ; 
    border-bottom-left-radius: 25px ; 
    border-top-left-radius: 25px!important;
    -moz-border-bottom-left-radius: 25px ; 
    -ms-border-bottom-left-radius: 25px ; 
    -webkit-bottom-left-radius: 25px ; 
    color: white!important;
}

.style-valla-content{
    width: 100%!important;
    height: 100%!important;
}

.style-valla-head{
    width: 100%;
    height: 20%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(29,98,159,1)), to(rgba(28,43,56,1))) !important;
    background: -moz-linear-gradient(top, rgba(29,98,159,1), rgba(28,43,56,1)) !important;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#1D629F', EndColorstr='#1C2B38')  !important;
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#1D629F', EndColorstr='#1C2B38')  !important;
    background: -o-linear-gradient(top,rgba(29,98,159,1), rgba(28,43,56,1))!important ;
}

.style-valla-body{
    width: 100%;
    height: 80%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(29,98,159,1)), to(rgba(28,43,56,1))) !important;
    background: -moz-linear-gradient(top, rgba(29,98,159,1), rgba(28,43,56,1)) !important;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#1D629F', EndColorstr='#1C2B38')  !important;
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#1D629F', EndColorstr='#1C2B38')  !important;
    background: -o-linear-gradient(top,rgba(29,98,159,1), rgba(28,43,56,1))!important ;

}

.style-valla-font > div{
    background-color: transparent!important;
}

.style-valla-font > div.gmnoprint{
    display: block;
}
.style-valla-font > div{
    display: block;
}
.ikont-hot-resumen{
    position: relative!important;
    top: -12px!important;
}


.contendor_gral
{
    width:859px;
    height:610px;
}
.cont_top
{
    width:859px;
    height:274px;
    float:left;
}
.titulos
{
    width:859px;
    height:127px;
    float:left;
}
.titulo
{
    width:162px;
    height:39px;
    border-bottom:solid 1px #C1C1C1;
    margin:0px 0px 0px 347px;
}
.titulo_r{
    color:#257500;
    font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    text-align:center;
    line-height:27px;
    font-size:20px;
    text-transform:uppercase;

}
.subtitulo

{
    width:307px;
    height:39px;

    margin:0px 0px 0px 280px;
}

.subtitulo_t{
    color:#257500;
    font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    text-align:center;
    line-height:27px;
    font-size:15px;

}
.bloques

{
    width:859px;
    height:147px;
    float:left;
}
.bl1
{
    width:153px;
    height:124px;
    float:left;
    border:solid 1px #C1C1C1;
    border-radius:13px;



}

.icon_bl1{
    background-image:url(../imgs/descargar_reportes_sprite.png);
    background-position:9px 0px;
    position:absolute;
    margin:9px 0px 0px 51px;
    width:49px;
    height:38px;
}

.bl1_texto_div{
    width:153px;
    height:42px;
    float:left;
    margin:46px 0px 0px 0px;
}

.bl1_texto{
    color:#257500;
    font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    text-align:center;
    line-height:17px;
    font-size:12px;
}

.radiobutton{
    margin:11px 0px 0px 67px;
}
.bl2
{
    width:153px;
    height:124px;
    float:left;
    border:solid 1px #C1C1C1;
    border-radius:13px;
    margin-left:21px;
}

.icon_bl2{
    background-image:url(../imgs/descargar_reportes_sprite.png);
    background-position:7px -69px;
    position:absolute;
    margin:9px 0px 0px 51px;
    width:49px;
    height:38px;
}
.bl3
{
    width:153px;
    height:124px;
    float:left;
    border:solid 1px #C1C1C1;
    border-radius:13px;
    margin-left:21px;
}

.icon_bl3{
    background-image:url(../imgs/descargar_reportes_sprite.png);
    background-position:7px -150px;
    position:absolute;
    margin:9px 0px 0px 51px;
    width:49px;
    height:38px;
}
.bl4
{
    width:153px;
    height:124px;
    float:left;
    border:solid 1px #C1C1C1;
    border-radius:13px;
    margin-left:21px;
}

.icon_bl4{
    background-image:url(../imgs/descargar_reportes_sprite.png);
    background-position:7px -234px;
    position:absolute;
    margin:9px 0px 0px 51px;
    width:49px;
    height:38px;
}
.bl5
{
    width:153px;
    height:124px;
    float:left;
    border:solid 1px #C1C1C1;
    border-radius:13px;
    margin-left:21px;
}

.icon_bl5{
    background-image:url(../imgs/descargar_reportes_sprite.png);
    background-position:7px -326px;
    position:absolute;
    margin:9px 0px 0px 51px;
    width:49px;
    height:38px;
}

.icon_bot{
    background-image: url(../imgs/descargar_reportes_sprite.png);
    background-position: 2px -418px;

    margin: 56px 0px 0px 382px;
    width: 89px;
    height: 79px;
}
.cont_bottom
{
    width:859px;
    height:340px;
    float:left;
    border:solid 1px #C1C1C1;
    border-radius:13px;
}
.cont_bottom_auditoria
{
    width:859px;
    height:400px;
    float:left;
    border:solid 1px #C1C1C1;
    border-radius:13px;
}
.cont_bottom_monEva
{
    width:859px;
    height:500px;
    float:left;
    border:solid 1px #C1C1C1;
    border-radius:13px;
}
.cont_central
{
    width:308px;
    height:149px;
    float:left;
    margin:0px 0px 0px 276px;
}
.seleccione{
    width:308px;
    height:30px;
    float:left;
}

.dropdown{
    width:308px;
    height:30px;
    float:left;
    margin-top:20px;
}

.select_texto{
    color:#8D8D8D;
    font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    text-align:center;
    line-height:17px;
    font-size:15px;
}

.descargarbtn{
    width:104px;
    height:27px;
    float:left;
    margin-top:20px;
    margin-left:96px;
    border:solid 1px #257500;
}

.descargarbtn_texto{
    color:#257500;
    font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    text-align:center;
    font-size:15px;
    text-transform:uppercase;
    line-height: 1px;
}