
.slider-proyecto-info{
    width: 350px!important;
    height: 430px!important;

}

.slider-proyecto-img{
    width: 350px!important;
    height: 430px!important;
}

.td-semaforo{
    width: 100px!important;
    height: 120px!important;
}

.info-duration{
    color: white!important;
    text-align: center!important;
    position: relative!important;
    width: 125px!important;
    margin-bottom: -10px!important;
}

.duration-day{
    color: white!important;
    font-family: "bebas"!important;
    font-size: 30px!important;
}

.title-day{
    color: white!important;
    font-family: "century"!important;
    position: relative!important;
    top: -5px!important;
    font-size: 15px!important;
}

.title-day-duration{
    color: white!important;
    font-family: "century"!important;
    position: relative!important;
    width: 120px!important;
}

.info-advanced{
    color: white!important;
    text-align: center!important;
    position: relative!important;
    width: 125px!important;
    margin-bottom: -10px!important;
    margin-left: -4px!important;
}
.asi-va-value{
    color: white!important;
    font-family: "futura"!important;
}

img.line-avance-slider{
    width: 105px!important;
    height: 5px!important;
    margin-top: -5px!important;
    margin-left: -2px!important;
}

.info-value-proyect{
    color: white!important;
    text-align: center!important;
    position: relative!important;
    width: 360px!important;
    top: -15px!important;
}

.info-value-proyect-line{
    display: inline-block!important;
    font-family: "century"!important;
    font-size: 15px!important;
    color: #FFF!important;
}

.text-value-proyect{
    width: 350px!important;
    height: 40px!important;
    color: white!important;
    font-size: 38px!important;
    font-family: "bebas"!important;
    color: #FFF!important;
}


.table-td-rigth{
    text-align: right!important;
    color: white!important;
    font-family: "century"!important;
}

.table-td-rigth table,.table-td-left table{
    width: 165px!important;
}

.table-td-left{
    text-align: left!important;
    color: white!important;
    font-family: "century"!important;
}

.ubication-line-title{
    font-size: 12px!important;
    font-weight: bold!important;
    color: #FFF!important;
}

.ubication-line-content{
    font-size: 10px!important;
    color: #FFF!important;
}

.separate-ubicate{
    height: 60px!important;
    margin-left: 10px!important;
    margin-right: 10px!important;
    border-left: solid 1px white!important;
}

.table-ubication{
    position: relative!important;

}

.info-contratante{
    color: white!important;
    text-align: center!important;
    position: relative!important;
    width: 180px!important;
    top: -10px!important;
}

.info-contratista{
    color: white!important;
    text-align: center!important;
    position: relative!important;
    width: 195px!important;
    top: -10px!important;
    left: -18px!important;
}

.stile-text-contrato{
    color: white!important;
    font-family: "century"!important;
    font-size: 10px!important;
    width: 150px!important;
    text-align: center!important;
    text-transform: uppercase!important;
}

.info-objeto{
    color: white!important;
    text-align: center!important;
    position: relative!important;
    width: 370px!important;
    top: -10px!important;
}

.info-objeto-content{
    width: 360px!important;
    height: 40px!important;
    overflow-y: auto!important;
}

.stile-text-objeto{
    color: white!important;
    font-family: "century"!important;
    font-size: 10px!important;
    text-align:  justify!important;
    text-transform: uppercase!important;
}



.table-img-content{
    width: 310px!important;
    height: 350px!important;
    -moz-border-radius: 10px!important; 
    -ms-border-radius: 10px!important; 
    -webkit-border-radius: 10px!important; 
    border-radius: 10px!important; 
}

.table-img-actions{
    float: right!important;
    margin-right: 20px!important;
}

.table-img-actions img{
    margin-right: 5px!important;
}

.table-img-actions a.button-silider{
    color: black!important;
    padding: 5px!important;
    background-color: whitesmoke!important;
    -moz-border-radius: 20px!important; 
    -ms-border-radius: 20px!important; 
    -webkit-border-radius: 20px!important; 
    border-radius: 20px!important; 
    background: -webkit-gradient(linear, left top, left bottom, from(#F9D10D), to(#F6A502), color-stop(0.7, #F6A502))!important;
    background: -moz-linear-gradient(top, #F9D10D, #F6A502)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9D10D', endColorstr='#F6A502')!important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9D10D', endColorstr='#F6A502')"!important;
    background: -o-linear-gradient(top, #F9D10D, #F6A502)!important;
    border: solid 1px #F6A502!important;
}

.table-img-actions a.button-silider:hover{
    color: white!important;
    background: -webkit-gradient(linear, left top, left bottom, from(#21992F), to(#44AA11), color-stop(0.7, #44AA11))!important;
    background: -moz-linear-gradient(top, #21992F, #44AA11)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#21992F', endColorstr='#44AA11')!important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#21992F', endColorstr='#44AA11')"!important;
    background: -o-linear-gradient(top, #21992F, #44AA11)!important;
    border: solid 1px #21992F!important;
}

.sidelinedetalle{
    text-align: center;
    background-image: url(../imgs/linea_ciu.png);
    background-repeat: repeat-x;
    background-position-y: -5px;
    display: block;
    width: 28px;
    height: 20px;
}
.sidelinedetalle-cuanto{
    text-align: center;
    background-image: url(../imgs/linea_ciu.png);
    background-repeat: repeat-x;
    background-position-y: -5px;
    display: block;
    width: 65px;
    height: 20px;
}
.sidelinedetalle-donde{
    text-align: center;
    background-image: url(../imgs/linea_ciu.png);
    background-repeat: repeat-x;
    background-position-y: -5px;
    display: block;
    width: 36px;
    height: 20px;
}
.sidelinedetalle-contrato{
    text-align: center;
    background-image: url(../imgs/linea_ciu.png);
    background-repeat: repeat-x;
    background-position-y: -5px;
    display: block;
    width: 42px;
    height: 20px;
}
.sidelinedetalle-objeto{
    text-align: center;
    background-image: url(../imgs/linea_ciu.png);
    background-repeat: repeat-x;
    background-position-y: -5px;
    display: block;
    width: 157px;
    height: 20px;
}

.ikont-hpg-ubicacionobra{
    margin: 0px auto;
}

.ikont-hpg-modalciudadanocontratante{
    border-collapse: collapse;
    border-spacing: 0px;
}

.ikont-hpg-modalciudadanocontratista{
    margin-left: -4px;
}

.ikont-hpg-modalciudadanoavancefisico{
    margin-left: -8px;
}