/* 
    Document   : EncargoFiduciario
    Created on : 6/06/2013, 03:24:49 PM
    Author     : JCastrillon
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

