@font-face {
    font-family: "bebas";
    src: url("font/BEBAS___.TTF");

}

@font-face {
    font-family: "century";
    src: url("font/Century-Gothic.ttf");
}

@font-face {
    font-family: "futura";
    src: url("font/futura-light-bt.ttf");
}

@font-face {
    font-family: "medium";
    src: url("font/Futura.ttc");
}

.tab-login table, tr, td{
    margin: 0  !important;
    padding: 0  !important;
    border: 0  !important;
    outline: 0  !important;
    font-size: 100%  !important;
    background: transparent  !important;

}

body{
    background-color: black;
}

.tab-login{
    border: solid 0px transparent !important;
    background: transparent !important;
}

.content-tab-login{
    width: 400px !important;
    position: relative !important;
    float : right !important;
    top: 50px;
    left: -50px;
    font-family: "century";
}
.content-tab-login .rf-tab-hdr-brd {
    display: none !important;
}

.content-tab-login .rf-tab-hdr-tabline-vis.rf-tab-hdr-tabline-top {
    background: transparent !important;
    border: solid 0px transparent !important;
    padding-top: 0px !important;
    overflow: visible!important;
    height: 30px!important;
}

.tab-pestania-inactive{
    position: relative!important;
    bottom: -1px !important;
    width: 100px!important;  
    height: 31px!important;
    color: #1D629F !important;
    font-family: "medium";
    font-size: 10px !important;
    font-weight: inherit!important;
    text-align: center!important;
    border : transparent!important;
    -moz-border-top-left-radius: 10px!important; 
    -moz-border-top-right-radius: 10px!important; 
    -ms-border-top-left-radius: 10px!important; 
    -ms-border-top-right-radius: 10px!important; 
    -webkit-border-top-left-radius: 10px!important; 
    -webkit-border-top-right-radius: 10px!important; 
    border-top-left-radius: 10px!important; 
    border-top-right-radius: 10px!important; 
    background-color: rgba(130,191,158,0.7) !important;
    -ms-background-color: rgba(130,191,158,0.7) !important;
    cursor: pointer;
    padding: 8px 36px !important;
}

.tab-pestania-inactive-usu{
    position: relative!important;
    bottom: -1px !important;
    width: 100px!important;  
    height: 31px!important;
    color: #1D629F !important;
    font-family: "medium";
    font-size: 10px !important;
    font-weight: inherit!important;
    text-align: center!important;
    border : transparent!important;
    -moz-border-top-left-radius: 10px!important; 
    -moz-border-top-right-radius: 10px!important; 
    -ms-border-top-left-radius: 10px!important; 
    -ms-border-top-right-radius: 10px!important; 
    -webkit-border-top-left-radius: 10px!important; 
    -webkit-border-top-right-radius: 10px!important; 
    border-top-left-radius: 10px!important; 
    border-top-right-radius: 10px!important; 
    background-color: rgba(130,191,158,0.7) !important;
    -ms-background-color: rgba(130,191,158,0.7) !important;
    cursor: pointer;
    padding: 8px 6px !important;
}

.tab-pestania-inactive-usu:hover{
    color: whitesmoke!important;
}

.tab-pestania-inactive:hover{
    color: whitesmoke!important;
}

.tab-pestania-active{
    width: 100px !important;  
    height: 31px !important;
    color: white!important;
    font-family: "medium" !important;
    font-size: 10px !important;
    font-weight: inherit!important;
    text-align: center !important;
    border : transparent!important;
    -moz-border-top-left-radius: 10px !important; 
    -moz-border-top-right-radius: 10px !important; 
    -ms-border-top-left-radius: 10px !important; 
    -ms-border-top-right-radius: 10px !important; 
    -webkit-border-top-left-radius: 10px !important; 
    -webkit-border-top-right-radius: 10px !important; 
    border-top-left-radius: 10px !important; 
    border-top-right-radius: 10px !important; 
    background-color: rgba(0,74,56,0.7) !important;
    border : transparent!important;
    padding: 8px 36px !important;
}

.tab-pestania-active-usu{
    width: 100px !important;  
    height: 31px !important;
    color: white!important;
    font-family: "medium" !important;
    font-size: 10px !important;
    font-weight: inherit!important;
    text-align: center !important;
    border : transparent!important;
    -moz-border-top-left-radius: 10px !important; 
    -moz-border-top-right-radius: 10px !important; 
    -ms-border-top-left-radius: 10px !important; 
    -ms-border-top-right-radius: 10px !important; 
    -webkit-border-top-left-radius: 10px !important; 
    -webkit-border-top-right-radius: 10px !important; 
    border-top-left-radius: 10px !important; 
    border-top-right-radius: 10px !important; 
    background-color: rgba(0,74,56,0.7) !important;
    border : transparent!important;
    padding: 8px 6px !important;
}

.tab-login-label-contenido-line-one{
    position: relative;
    top: -3px;
}

.tab-login-label-contenido-line-two{
    position: relative;
    top: -6px;
}

.tab-login-label-contenido{
    color: white;
    font-size: 1.1em!important;
    font-family: "futura"!important;

}   

.tab-login-label-error{
    color: red;
    font-size: 10px!important;
    font-family: "century";
    font-weight: bold;
    text-align: justify !important;
    background-color: white;
    /*background-image: url("../imgs/modal/msgerror.png");
    background-repeat: no-repeat;
    background-position: 0px;*/
    -moz-border-radius: 10px; 
    -ms-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px;    
}   

.tab-login-label-contenido-msg{
    float: left;
    position: relative;
    left: 90px;
    font-family: "futura";
}

.tab-login-label-title{
    color: white !important;
    font-size: 15px!important;
    font-family: "medium"!important;
}   

.tab-login-input-text{
    width: 175px;
    height: 22px;    
    color: black;
    background-color: white;
    -moz-border-radius: 10px; 
    -ms-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px; 
    border: solid 1px #1D629F;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 0px 5px;
    font-family: "futura";
}    
.tab-login-input-password{
    width: 123px;
    height: 22px;
    color: black;
    background-color: white;
    -moz-border-radius: 10px; 
    -ms-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px; 
    border: solid 1px #1D629F;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px 0px 5px;
}

.tab-login-input-button{
    height: 21px !important;
    width: 50px !important;
    text-align: center !important;
    line-height: inherit !important;
    background-color: whitesmoke !important;
    font-size: 10px !important;
    font-family: "century"!important;
    -moz-border-radius: 10px !important; 
    -ms-border-radius: 10px !important; 
    -webkit-border-radius: 10px !important; 
    border-radius: 10px !important; 
    background: -webkit-gradient(linear, left top, left bottom, from(#F9D10D), to(#F6A502), color-stop(0.7, #F6A502))!important;
    background: -moz-linear-gradient(top, #F9D10D, #F6A502) !important;
    background: -ms-linear-gradient(top, rgba(249,209,13, 1) 0%, rgba(246,165,2,1) 100%)!important;
    background: -o-linear-gradient(top, #F9D10D, #F6A502) !important;
    border: solid 1px #F6A502 !important;
}

.tab-login-input-button-register{
    height: 21px !important;
    color: black !important;
    width: 50px !important;
    font-family: "century"!important;
    text-align: center !important;
    line-height: inherit !important;
    background-color: whitesmoke !important;
    font-size: 10px !important;
    -moz-border-radius: 10px !important; 
    -ms-border-radius: 10px !important; 
    -webkit-border-radius: 10px !important; 
    border-radius: 10px !important; 
    background: -webkit-gradient(linear, left top, left bottom, from(#F9D10D), to(#F6A502), color-stop(0.7, #F6A502))!important;
    background: -moz-linear-gradient(top, #F9D10D, #F6A502) !important;
    background: -ms-linear-gradient(top, rgba(249,209,13, 1) 0%, rgba(246,165,2,1) 100%)!important;
    background: -o-linear-gradient(top, #F9D10D, #F6A502) !important;
    border: solid 1px #F6A502 !important;
    margin-left: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;    
}

.tab-login-input-button-sin-login{
    height: 21px !important;
    color: black !important;
    width: 50px !important;
    text-align: center !important;
    line-height: inherit !important;
    background-color: whitesmoke !important;
    font-size: 10px !important;
    font-family: "century"!important;
    -moz-border-radius: 10px !important; 
    -ms-border-radius: 10px !important; 
    -webkit-border-radius: 10px !important; 
    border-radius: 10px !important; 
    background: -webkit-gradient(linear, left top, left bottom, from(#F9D10D), to(#F6A502), color-stop(0.7, #F6A502))!important;
    background: -moz-linear-gradient(top, #F9D10D, #F6A502) !important;
    background: -ms-linear-gradient(top, rgba(249,209,13, 1) 0%, rgba(246,165,2,1) 100%)!important;
    background: -o-linear-gradient(top, #F9D10D, #F6A502) !important;
    border: solid 1px #F6A502 !important;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 5px;    
}

.tab-login-input-button-sin-login:hover{
    color: white !important;
}

.tab-login-input-button-register:hover{
    color: white !important;
}

.tab-login-input-button-photo:hover{
    color: white !important;
}

.tab-login-input-button-photo{
    position: relative;
    left: 30px;
    width: 80px !important;
    height: 21px !important;
    color: black !important;
    width: 50px !important;
    text-align: center !important;
    line-height: inherit !important;
    background-color: whitesmoke !important;
    font-size: 10px !important;
    font-family: "century";
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#F2F2F2), to(#A4A4A4), color-stop(0.7, #A4A4A4))!important;
    background: -moz-linear-gradient(top, #F2F2F2, #A4A4A4) !important;
    background: -ms-linear-gradient(top, rgba(242,242,242, 1) 0%, rgba(164,164,164,1) 100%)!important;
    background: -o-linear-gradient(top, #F2F2F2, #A4A4A4) !important;
    border: solid 1px #A4A4A4 !important;
}

.tab-div{
    border: solid transparent 0px !important;
    -moz-border-top-right-radius: 10px !important; 
    -ms-border-top-right-radius: 10px !important; 
    -webkit-border-top-right-radius: 10px !important; 
    border-top-right-radius: 10px !important; 
    -moz-border-bottom-right-radius: 10px !important; 
    -ms-border-bottom-right-radius: 10px !important; 
    -webkit-bottom-right-radius: 10px !important; 
    border-bottom-right-radius: 10px !important; 
    -moz-border-bottom-left-radius: 10px !important; 
    -ms-border-bottom-left-radius: 10px !important; 
    -webkit-bottom-left-radius: 10px !important; 
    border-bottom-left-radius: 10px !important; 
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,74,56,0.7)), to(rgba(29,140,79,0.7))) !important;
    background: -moz-linear-gradient(top, rgba(0,74,56,0.7), rgba(29,140,79,0.7)) !important;
    background: -ms-linear-gradient(top, rgba(0,74,56,0.7) 30%, rgba(29,140,79,0.7) 70%)!important;
    background: -o-linear-gradient(top,rgba(0,74,56,0.7), rgba(29,140,79,0.7)) !important;
    width: 350px !important;
    height: 380px !important;
    margin-top: 1px !important;
    margin-left: 1px !important;
}


.tab-div table  tr td{
    text-align: center!important;
}



.div-login-imgs{
    position: relative;
    top: 20px;
    left: 70px;
}

.div-login-imgs img{
    margin-left: 10px;
}

.header-login{
    position : fixed;
    top : -0px;
    left:-0px;
    width : 100%;
    height : 40px;
    margin: 0px;
    padding : 0px;
    background-color : black;
    z-index : 100
}

.header-login-title{
    color : #F2F2F2;
    position: relative;
    font-size: 16px;
    text-align: left;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    font-family: "futura";
}

.footer-login{
    position : fixed;
    bottom : -0px;
    left:-0px;
    width : 100%;
    height : 40px;
    background-color : black;
    margin: 0px;
    padding: 0px;
    z-index : 100;
    font-family: "furura";
}

.footer-login-title{
    color : #BDBDBD;
    margin-left : 10px;
    position: relative;
    font-size: 16px;
    top: 10px;
}
.footer-login-titel-link{
    color : #BDBDBD;
    margin-left : 10px;
    position: relative;
    font-size: 15px;
    top: 10px;
    text-decoration: none;
}

.header-login-img{   
    margin-left: 20px!important; 
    float: left !important;
    width:40px;
    height:40px;

}

.footer-login-img{   
    margin-left: 20px!important; 
    float: left !important;
    width:40px;
    height:40px;
}

.footer-login-img-social{
    position: relative !important; 
    float: right !important; 
    margin-right: 20px;
}

.div-login-photo-register-first{
    position: relative;
    top : -12px;
    left: 15px;
    width: 100px;
    height: 120px;
    -moz-border-radius: 10px; 
    -ms-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px; 
    background-color: #F2F2F2;    
}

.div-login-photo-register-last{
    position: relative;
    top: 10px;
    width: 80px;
    height: 100px;
    -moz-border-radius: 10px; 
    -ms-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    -o-border-radius: 10px; 
    border-radius: 10px; 
    background: url("../imgs/login/foto_perfil.jpg")no-repeat center center ;
    background-size : cover;
    -webkit-background-size : cover;
    -o-background-size : cover;
    -moz-background-size : cover;
    -ms-background-size : cover;
}

.ikont-hpg-gpLogPrinci .rf-p, .ikont-hpg-gpLogPrinci .rf-p-b{
    border: solid 0px transparent !important;
    background: transparent !important;
}

.rf-tab-hdr-tabline-vis.rf-tab-hdr-tabline-top{
    background: transparent !important;
    border-color: transparent !important;
    border-style: solid !important;
    border-width: 0px !important;
    border-bottom-width: 0px !important;
    padding-top: 0px !important;
    overflow: visible !important;
    height: 25px !important;
    white-space: nowrap !important;
    position: relative !important;
    margin-bottom: 6px !important;    
}

.rf-tab-hdr-brd{
    display: none;    
}

.ikont-hpg-gpLogPrinci {
    width: 400px !important;
    position: relative !important;
    float: right !important;
    top: 50px;
    left: -50px;
    font-family: "century";
}

.ikont-hpg-loginheader {
    position: fixed;
    top: -0px;
    left: -0px;
    width: 100%;
    height: 40px;
    margin: 0px;
    padding: 0px;
    z-index: 100;
}

.ikont-hot-loginheader {
    position: relative;
    text-align: left;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.ikont-hgi-iconheaderpng {
    margin-left: 20px!important;
    float: left !important;
    width: 40px;
    height: 40px;
}

.ikont-hpg-loginfooter {
    position: fixed;
    bottom: -0px;
    left: -0px;
    width: 100%;
    height: 40px;
    margin: 0px;
    padding: 0px;
    z-index: 100;
    font-family: "furura";
}

.ikont-hgi-iconfooterpng {
    margin-left: 20px!important;
    float: left !important;
    width: 40px;
    height: 40px;
}

.ikont-hot-loginfotercopy {
    margin-left: 10px;
    position: relative;
    top: 10px;
}
.ikont-hgi-iconytpng, .ikont-hgi-iconfbpng, .ikont-hgi-icontwpng {
    position: relative !important;
    float: right !important;
    margin-right: 20px;
}

.ikont-a4jcl-loginfoterterminos, .ikont-a4cl-loginfoteracerca, .ikont-a4jcl-loginfoterquees {
    margin-left: 10px;
    position: relative;
    top: 10px;
    text-decoration: none;
}

.rf-pp-hdr{
    background: #38CC66 !important;
    background: -moz-linear-gradient(top, #38CC66 0%, #004A38 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#38CC66), color-stop(64%,#004A38), color-stop(100%,#004A38)) !important;
    background: -webkit-linear-gradient(top, #38CC66 0%,#004A38 100%) !important;
    background: -o-linear-gradient(top, #38CC66 0%,#004A38 100%) !important;
    background: -ms-linear-gradient(top, #38CC66 0%,#004A38 100%) !important;
    background: linear-gradient(top, #38CC66 0%,#004A38 100%) !important;
    -moz-border-top-left-radius: 20px !important;
    -moz-border-top-right-radius: 20px !important;
    -ms-border-top-left-radius: 20px !important;
    -ms-border-top-right-radius: 20px !important;
    repeat-x: 'top left #{richSkin.headerBackgroundColor}';
    position: relative;
    padding-left: 10px;
    cursor: move;
    padding: 2px;
    border-top-left-radius: '#{richSkin.panelBorderRadius}';
    border-top-right-radius: '#{richSkin.panelBorderRadius}';
}