/* 
    Document   : newcssv
    Created on : Jun 7, 2013, 12:13:45 PM
    Author     : Daniela
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

