/* 
    Document   : GenerarCronograma
    Created on : Jun 7, 2013, 12:14:12 PM
    Author     : Daniela
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

