.totalwidth{
    width: 100%;
}

.alingtableproyecto{
    margin-top: -22px;
    margin-left: -6px;
}

.totalwidth.tipificacionpro a{
    text-decoration: none;
    margin: 0px;
    font-family: Verdana, Geneva, sans-serif;
    color: #000;
}

.totalwidth.tipificacionpro .rf-dg-c{
    width: 125px;
    height: 125px;
}

.totalwidth.tipificacionpro table{
    margin: 0px auto;
}

.centerelement{
    margin: 0px auto;
}

.ikont-hcl-navegarNuevaObra1{
    background-image:url(../imgs/Cobra_bt44.png);
}

.ikont-hcl-iniciarevolucioncontrato, .ikont-hcl-iniciarevolucion{
    background-image:url(../imgs/Cobra_bt40.png);
}

.tablaadminproyecto > tbody > tr > td >a.impsocial {
    background-image:url(../imgs/Cobra_bt30.png);
}

.ikont-hcl-pasoGenerarCronograma{
    background-image:url(../imgs/Cobra_bt31.png);
}

.ikont-hcl-pasaraUbicacion{
    background-image:url(../imgs/Cobra_bt32.png);
}

.tablaadminproyecto > tbody > tr > td > a.contratos {
    background-image:url(../imgs/Cobra_bt09.png);
}

.ikont-hcl-iniciarimagenes, .ikont-hcl-navegarNuevaObra2{
    background-image:url(../imgs/Cobra_bt12.png);
}

.ikont-hcl-iniciarvideos{
    background-image:url(../imgs/Cobra_bt13.png);
}

.ikont-hcl-iniciardeta{
    background-image:url(../imgs/Cobra_bt08.png);
}

.ikont-hcl-iniciaraliment{
    background-image:url(../imgs/Cobra_bt20.png);
}

.ikont-hcl-iniciarfinalizar{
    background-image:url(../imgs/Cobra_bt42.png);
}

.ikont-hcl-iniciardetallecontrato, .ikont-hcl-documentocontrato, .ikont-hcl-iniciarmodificarcontrato{
    background-image:url(../imgs/Cobra_bt02.png);
}

.tablaadminproyecto > tbody > tr > td > a.tipiobra {
    background-image:url(../imgs/Cobra_bt26.png);
}

.ikont-hcl-vf{
    background-image:url(../imgs/Cobra_bt53.png);
}

.ikont-hcl-guardadoIntermedio{
    background-image:url(../imgs/Cobra_bt54.png);
}

.ikont-acl-revisioninformacion{
    background-image:url(../imgs/bt_validar_hist.png);
}

.ikont-acl-crearnuevoproyecto, .ikont-hcl-crearproyecto{
    background-image:url(../imgs/Cobra_bt01.png);
}


.tablamenugestion > tbody > tr > td > a.mproyectos {
    background-image:url(../imgs/Cobra_bt02.png);
}

.ikont-hcl-activarvistamapa {
    background-image:url(../imgs/Cobra_bt23.png);
}

.ikont-hcl-iniciartablerocontrol{
    background-image:url(../imgs/Cobra_bt55.png);
}

.ikont-hcl-iniciarreporte, .ikont-hcl-irreportesdetalle{
    background-image:url(../imgs/Cobra_bt03.png);
}

.tablamenugestion > tbody > tr > td > a.busqueda {
    background-image:url(../imgs/Cobra_bt04.png);
}

.tablamenugestion > tbody > tr > td > a.busqueda {
    background-image:url(../imgs/Cobra_bt04.png);
}
.ikont-acl-iniciarindicadores{
    background-image:url(../imgs/Cobra_bt05.png);
}
.tablamenugestion > tbody > tr > td > a.mensajes {
    background-image:url(../imgs/Cobra_bt06.png);
}

.ikont-hol-iniciarsoporte{
    background-image:url(../imgs/Cobra_bt07.png);
}

.ikont-acl-iniciarnuevocontrato, .ikont-hcl-navegarNuevaObra3{
    background-image:url(../imgs/Cobra_bt09.png);
}


.tablamenugestion > tbody > tr > td > a.mrecibidos {
    background-image:url(../imgs/Cobra_bt10.png);
}

.tablamenugestion > tbody > tr > td > a.menviados {
    background-image:url(../imgs/Cobra_bt11.png);
}

/* ver alarmas */
.tablamenugestion > tbody > tr > td > a.alarmas {
    background-image:url(../imgs/Cobra_bt14.png);
}

.tablamenugestion > tbody > tr > td > a.herramientas {
    background-image:url(../imgs/Cobra_bt15.png);
}
/* ver objetivos */
.tablamenugestion > tbody > tr > td > a.objetivos {
    background-image:url(../imgs/Cobra_bt16.png);
}
/* ver ayuda */
.tablamenugestion > tbody > tr > td > a.ayuda {
    background-image:url(../imgs/Cobra_bt17.png);
}
/* opiniones de la obra */
.tablamenugestion > tbody > tr > td > a.opobra {
    background-image:url(../imgs/Cobra_bt19.png);
}

/* atencion humanitaria */
.tablamenugestion > tbody > tr > td > a.atehumanitaria {
    background-image:url(../imgs/Cobra_bt21.png);
}
/* rehabilitacion */
.tablamenugestion > tbody > tr > td > a.rehabilitacion {
    background-image:url(../imgs/Cobra_bt22.png);
}

/* anadir foto video */
.tablamenugestion > tbody > tr > td > a.adfotovdo {
    background-image:url(../imgs/Cobra_bt24.png);
}
/* asociar a convenio */
.ikont-acl-iniciarnuevoconvenio, .ikont-hcl-iniciarasociarcontratos{
    background-image:url(../imgs/Cobra_bt25.png);
}

.ikont-hcl-navegarNuevaObra{
    background-image:url(../imgs/Cobra_bt26.png);
}
/* contractuales */
.tablamenugestion > tbody > tr > td > a.contractuales {
    background-image:url(../imgs/Cobra_bt27.png);
}
/* foro */
.tablamenugestion > tbody > tr > td > a.foro {
    background-image:url(../imgs/Cobra_bt28.png);
}

/* financiera */
.tablamenugestion > tbody > tr > td > a.financiera {
    background-image:url(../imgs/Cobra_bt33.png);
}

.tablamenugestion > tbody > tr > td > a.salida {
    background-image:url(../imgs/Cobra_bt39.png);
}

.tablamenugestion > tbody > tr > td > a.registrarmatriz {
    background-image:url(../imgs/Cobra_bt52.png);
}

.tablamenugestion > tbody > tr > td > a.proyectosnew {
    background-image:url(../imgs/Cobra_bt50.png);
}
.ikont-hcl-homesolicitudes {
    background-image:url(../imgs/Cobra_bt47.png);
}

.ikont-hcl-btnregistraratencionhumanitaria{
    background-image:url(../imgs/Cobra_bt46.png);
}

.ikont-hcl-iniciarmodificar{
    background-image:url(../imgs/Cobra_bt41.png);
}

.ikont-hcl-iniciardocumentos{
    background-image:url(../imgs/Cobra_bt02.png);
}

.tablamenugestion > tbody > tr > td > a.regsolicitud {
    background-image:url(../imgs/Cobra_bt48.png);
}

.ikont-hcl-iniciarvalidarinformacion{
    background-image:url(../imgs/Cobra_bt56.png);
}

.ikont-hcl-eliminaravance{
    background-image:url(../imgs/Cobra_bt57.png);
}

.ikont-hcl-estadoproyecto{
    background-image:url(../imgs/Cobra_bt58.png);
}

.tablamenuact > tbody > tr > td > a.actualizaralim {
    background-image:url(../imgs/Cobra_btactualizar.png);
}

.topbar{
    background-image: url(../imgs/Cobra_menubar_top_bg.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 20px;
    background-color: #000;
}

.sienteicon {
    background-image: url(../imgs/bt_siente.png);
    background-repeat: no-repeat;
    height: 18px;
    width: auto;
    text-indent: 25px;
    color: #FFF;
    font-size: 12px;
    font-weight: lighter;
    font-style: italic;
    float: right;
    margin-right: 20px;
}

.ikont-hot-gestionar{
    background-image: url(../imgs/bt_gestionar.png);
    background-position: 3% 50%;
    background-repeat:no-repeat;
}

.ikont-hot-administrador{
    background-image: url(../imgs/bt_gestionar.png);
    background-position: 3% 50%;
    background-repeat:no-repeat;
}

.ikont-hot-proyectos{
    background-image: url(../imgs/bt_gestionar.png);
    background-position: 3% 50%;
    background-repeat:no-repeat;
}

.ikont-hot-inicio{
    background-image: url(../imgs/bt_inicio.png);
    background-position: 3% 50%;
    background-repeat:no-repeat;
}

.ikont-acl-indicadores{
    background-image: url(../imgs/bt_indicadores.png);
    background-position: 3% 55%;
    background-repeat:no-repeat;
}

.ikont-hot-mensajes{
    background-image: url(../imgs/bt_mensajes.png);
    background-position: 3% 50%;
    background-repeat:no-repeat;
}

.ikont-hot-miperfil{
    background-image: url(../imgs/bt_miperfil.png);
    background-position: 3% 50%;
    background-repeat:no-repeat;
}

.ikont-hot-ayuda{
    background-image: url(../imgs/bt_ayuda.png);
    background-position: 3% 50%;
    background-repeat:no-repeat;
}

.ikont-hcl-salir{
    background-image: url(../imgs/bt_cerrar_over.png);
    background-position: 3% 55%;
    background-repeat:no-repeat;
}

.ikont-hcl-siente{
    width: 230px;
    height:60px;
    float:left;
    position:relative;
    background-image: url(../imgs/Siente_Logo_.png);
    background-repeat:no-repeat;
    background-position: 0px 0px;
}

.ikont-hcl-siente:hover, .ikont-a-republica:hover, .ikont-a-ch:hover {
    background-position: 0 -60px;
}

.ikont-a-republica{
    width: 60px;
    height:60px;
    float:right;
    position:relative;
    background-image: url(../imgs/Siente_logo_republica.png);
    background-repeat:no-repeat;
    background-position: 0px 0px;    
    margin-right: 5px;
}

.ikont-a-ch{
    width: 130px;
    height:60px;
    float:right;
    position:relative;
    background-image: url(../imgs/Siente_Logo_ch.png);
    background-repeat:no-repeat;
    background-position: 0px 0px;
}

.templatetablafooter{
    width: 100%;
}

.templatecontentinfo{
    width: 100%;
}

.templatetablacontent{
    width: 85%;
}

.templatetablamenulateral .rf-p-b {
    width : 225px
}

#header_content .ubicacion {
    background: url(../imgs/bt_ubicacion.png) no-repeat;
    width:auto;
    height:25px;
    margin:5px 0 6px 5px;
}
#header_content .preg {
    background:url(../imgs/bt_preguntas.png) no-repeat;
    width:auto;
    height:25px;
    margin:5px 0 6px 5px;
}

#header_content .imagenes {
    background: url(../imgs/bt_imagenes.png) no-repeat;
    width:auto;
    height:25px;
    margin:5px 0 6px 5px;
}
#header_content .star {
    background:url(../imgs/star_g.png) no-repeat;
    width:auto;
    height:25px;
    margin:5px 0 6px 5px;
}

.ikont-acl-activarlista{
    background-image:url(../imgs/bt_vista_lista.png);
    width: 25px;
    height: 25px;
    background-position: 0px -30px;
    display: block;
}

.ikont-acl-activarimgs{
    background-image: url(../imgs/bt_vista_icono.png);
    width: 25px;
    height: 25px;
    background-position: 0px -30px;
    display: block;
}
.ikont-hcl-activarmapabutton{
    background-image:url(../imgs/bt_vista_mapa.png);
    width: 25px;
    height: 25px;
    background-position: 0px -30px;
    display: block;
}

.ikont-acl-activarlista:hover, .ikont-acl-activarimgs:hover, .ikont-hcl-activarmapabutton:hover{
    background-position: 0px -0px;
}


.text01 {
    text-align: center;
    font-size:10px;
    color:#777;
}

.mapsearchbar{
    width: 100%
}

.viewmapbuttons{
    float: right;
    margin-right: 11%;
}

input[type="text"].ikont-hit-palabraclave, input[type="text"].ikont-hit-palclav, input[type="text"].ikont-hit-txtPalabraClave{
    width: 550px;
}

input[type="submit"].ikont-acl-busquedaavanzada, input[type="submit"].ikont-acl-busqavan{
    background-image:url(../imgs/bt_buscar.png);
    background-repeat: no-repeat;
    background-position: left;
    text-indent: 15px;
    width: 150px;
    padding: 5px 5px;
}

input[type="submit"].ikont-acl-busquedaavanzada:hover{
    background-image:url(../imgs/bt_buscar.png);
    background-repeat: no-repeat;
    background-position: left;
}
.ikont-hot-textoinicial, .ikont-hot-textofinal{
    padding: 0px;
    text-align: left;
    font-size: 10px;
}

.ikont-hpg-contentnovedad{
    width: 200px;
}

.ikont-hgi-textofinal{
    width: 200px
}

input[type="submit"].ikont-acl-btnfiltrociudadano{
    background:url(../imgs/bt_filtrar.png);
    width:110px;
    height:30px;
    display:block;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    border: transparent;
}
input[type="submit"].ikont-acl-btnfiltrociudadano:hover{    
    background:url(../imgs/bt_filtrar.png);
    background-position: 0px -31px;
    background-repeat: no-repeat;
}

.ikont-hpg-invporregion, .ikont-hpg-invporregion1 {    
    height:50px;
    font-family:Arial, Helvetica, sans-serif;
    color:#FFF;
    text-align:center;
    line-height:50px;
    margin-top:70px;
    margin-bottom:40px;
    width:25em;
    font-size:1.1em;
    font-weight:bold;
}


.ikont-hcl-graficar, .ikont-hcl-vermasdashboard{
    padding:3px;
    font-size:12px;
    line-height:18px;
    text-decoration:none;
    margin: 20px 100px;
    text-align: center;
    position: relative;
    float: left;
}

.ikont-hot-texto1inversion{
    font-size: 11px;
}

.ikont-hpg-panelcombos{
    margin: 0 auto;
}

.liItemAtencion {
    background-image:  url(../imgs/nov_evento.png);
    background-repeat: no-repeat;
    background-position: 0em  0.4em;
    padding-left: 1.8em;
    list-style-type: none;
    line-height: 2.55em;
    text-align: left;
}

.ikont-hol-dashinvtipoproyecto{
    color: #003;
    font-size: 12px;
    font-weight: bold;
}

.ikont-hot-porcentajeinversion{
    font-size: 1.5em;
    color: #336699;
    text-align: center;
}

a.butonreport{
    float: left;
    height: 163px;
    width: 150px; /* for validator */
    display: block;
    background-repeat: no-repeat;
    margin-right: 0px;
    background-position: 0px 20px;
}

a.excel {
    background-image: url(../imgs/bt_file_excel.png);
}
a.excel:hover, a.word:hover, a.pdf:hover {
    background-position: 0px -144px;
}
a.word {
    background-image: url(../imgs/bt_file_word.png);
}

a.pdf {
    background-image: url(../imgs/bt_file_pdf.png);
}

#ikont-div-reportes ul li a {
    width:200px;
    height:33px;
    display:block;
    padding-top: 3px;
    padding-bottom:4px;
    margin-top:10px;
    font-size:12px;
    vertical-align:middle;
    text-indent:20px;
    font-style:italic;
    font-weight:500;
    text-align:center;
    -moz-box-shadow: 0.1em 0.1em 0.1em #51819E;
    -webkit-box-shadow: 0.1em 0.1em 0.1em #51819E;
    box-shadow: 0.1em 0.1em 0.1em #51819E;
    border: #FFF thin solid;
    text-decoration: none;
}

#ikont-div-reportes ul li{
    list-style: none;
}

.ikont-hcl-reporteselect{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:black;
    background-color:#C6D3E1;
}

.ikont-hcl-reporteselectdi{
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
    background-color:#006496;
}

.ikont-hcl-reportes_administrativos{
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
    background-color:#006496;
    -moz-box-shadow: 0.1em 0.1em 0.1em #006496;
    -webkit-box-shadow: 0.1em 0.1em 0.1em #006496;
    box-shadow: 0.1em 0.1em 0.1em #006496;
}

.ikont-hcl-reportes_administrativos:hover, .ikont-hcl-reporteselectdi:hover, .ikont-hcl-reporteselect:hover{
    background-color:#949494;
    -moz-opacity: 0.9;
    filter:alpha opacity 90;
    color: #FFF;
}

.ikont-hot-reportes, .ikont-hot-Indicadores{
    color:#275F85; 
    font-family:Arial, Helvetica, sans-serif; 
    text-align:center; 
    background:url(../imgs/line.png) bottom no-repeat;
    width: 100%;
}


#navIndicadores {
    margin: 0;
    padding:0;
    height: auto;
    width:100%;
    text-align:left;
    clear: both;
    float: left;
    position:relative;
    z-index:9999;
}
#elipse {
    width:28px;
    height:323px;
    background-repeat:no-repeat;
    float:left;
    position:absolute;
    left:0px;
    z-index:10000;
    background:url(../imgs/elipse.png);


}

#navIndicadores ul {
    margin:0;
    padding:0;
    vertical-align:left;
}
#navIndicadores li {
    margin:0;
    padding:0;
    list-style: none;
    float: left;
    position:relative;
}

#navIndicadores ul li a {
    width:200px;
    height:33px;
    float:left;
    position:relative;
    display:block;
    padding-right:10px;
    padding-left:10px;
    padding-top: 3px;
    padding-bottom:4px;
    margin-top:10px;
    font-size:12px;
    vertical-align:middle;
    line-height:13px;
    text-indent:20px;
    font-style:italic;
    font-weight:500;
    text-align:center;
    margin-right: 0;
    margin-bottom: 0;
    border: #FFF thin solid;
    text-decoration: none;
}

#navIndicadores ul li a.ikont-hcl-menuConsolidados {
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
    background-color:#006496;
}

#navIndicadores ul li a.ikont-hcl-menuAvanceAh {
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
    background-color:#CDB80D;
    vertical-align:middle;
}

#navIndicadores ul li a.ikont-hcl-menuAvanceObras {
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
    background-color:#F1AC04;
}

#navIndicadores ul li a.ikont-hcl-menuAvanceConvenios {
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
    background-color:#EF6703;
}

#navIndicadores ul li a.ikont-hcl-menuAvanceConvenios:hover, #navIndicadores ul li a.ikont-hcl-menuAvanceObras:hover, #navIndicadores ul li a.ikont-hcl-menuAvanceAh:hover, #navIndicadores ul li a.ikont-hcl-menuConsolidados:hover{
    background-color:#949494;
    -moz-opacity: 0.9;
    filter:alpha opacity 90;
}

.ikont-acl-agregar{
    background-image:url(../imgs/bt_anadir.png);
    width: 25px;
    height: 25px;
    background-position: 0px 0px;
}
.ikont-acl-agregar:hover {
    background-position: 0px -30px;
}
.buttonsmall > a {
    float: left;;
    height: 25px;
    width: 25px; /* for validator */
    display: block;
    background-repeat: no-repeat;
}

.labelsDatos {
    font-size : 0.7em;
}

.ikont-hot-strnombremedio, .ikont-hot-obrastrnombremedio, .ikont-hot-nommedio{
    font-size : 0.7em;
    float: right;
}

.ikont-hot-intcodobra{
    font-size : 0.7em;
    float: right;
}

.ikont-hot-prorrogasadcciones, .ikont-hot-suspenderobra, .ikont-hot-reiniciarlaobra, .ikont-hot-houtbusquedarapida, .ikont-hol-lblEntidadconveniocontrato{
    font-size : 0.7em;
}

a.prorroga {
    float: left;
    height: 163px;
    width: 150px; /* for validator */
    display: block;
    background-repeat: no-repeat;
    margin-right: 0px;
    background-image:url(../imgs/bt_obra_prorroga.png);
    background-position: 0px 20px;
}
a.prorroga:hover {
    background-position: 0px -144px;
}
a.suspension {
    float: left;
    height: 163px;
    width: 150px; /* for validator */
    display: block;
    background-repeat: no-repeat;
    margin-right: 0px;
    background-image: url(../imgs/bt_obra_suspension.png);
    background-position: 0px 20px;
}
a.suspension:hover {
    background-position: 0px -144px;
}
a.reiniciar {
    float: left;
    height: 163px;
    width: 150px; /* for validator */
    display: block;
    background-repeat: no-repeat;
    margin-right: 0px;
    background-image: url(../imgs/bt_inicio_suspender.png);
    background-position: 0px 20px;
}
a.reiniciar:hover {
    background-position: 0px -144px;
}

a.ikont-acl-asocontrato, a.ikont-hcl-asociarcontrato {
    height: 163px;
    width: 150px; /* for validator */
    display: block;
    background-repeat: no-repeat;
    background-image: url(../imgs/bt_asociarcontrato.png);
    background-position: 0px 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    font-weight:bold;
    font-style:italic;
    color:#003;
    text-align:center;
    line-height:280px;
    text-decoration: none;
}
a.ikont-acl-asocontrato:hover, a.ikont-hcl-asociarcontrato:hover {
    background-position: 0px -144px;
}

a.ikont-acl-interven {
    height: 163px;
    width: 150px; /* for validator */
    display: block;
    background-repeat: no-repeat;
    background-image: url(../imgs/bt_interventoria.png);
    background-position: 0px 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    font-weight:bold;
    font-style:italic;
    color:#003;
    text-align:center;
    line-height:280px;
    text-decoration: none;
}
a.ikont-acl-interven:hover {
    background-position: 0px -144px;
}

.vtitle02 {
    font-family:Verdana, Geneva, sans-serif;
    font-size:20px;
    font-style:italic;
    font-weight:bold;
    color:#F90;
    line-height:20px;
}

.vtitle03 {
    font-family:Verdana, Geneva, sans-serif;
    font-size:15px;
    font-style:italic;
    color:#004670;
    line-height:15px;
    padding-bottom: 10px;
}

a.ikont-acl-cambioestado, a.ikont-acl-deleteultimoavance, a.BotonesPasosModificar{
    background: #ff9735;
    background: -moz-linear-gradient(top,  #ff9735 48%, #f8763c 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#ff9735), color-stop(50%,#f8763c));
    background: -webkit-linear-gradient(top,  #ff9735 48%,#f8763c 50%);
    background: -o-linear-gradient(top,  #ff9735 48%,#f8763c 50%);
    background: -ms-linear-gradient(top,  #ff9735 48%,#f8763c 50%);
    background: linear-gradient(top,  #ff9735 48%,#f8763c 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9735', endColorstr='#f8763c',GradientType=0 );
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: #FFF 2px solid;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#fff;
    text-align:center;
    padding:8px;
    text-decoration: none;
}
a.ikont-acl-cambioestado:hover, a.ikont-acl-deleteultimoavance:hover, a.BotonesPasosModificar:hover {
    background: #f8763c;
    background: -moz-linear-gradient(top,  #f8763c 48%, #ff9735 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#f8763c), color-stop(50%,#ff9735));
    background: -webkit-linear-gradient(top,  #f8763c 48%,#ff9735 50%);
    background: -o-linear-gradient(top,  #f8763c 48%,#ff9735 50%);
    background: -ms-linear-gradient(top,  #f8763c 48%,#ff9735 50%);
    background: linear-gradient(top,  #f8763c 48%,#ff9735 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8763c', endColorstr='#ff9735',GradientType=0 );
}

.marcocambioestado{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: #C1D1E7 thin solid;
}

a.busquedavanzada {
    width:150px;
    height:25px;
    background-color:#F3C031;
    color:#003;
    padding: 5px 20px 5px 30px;
    background-image:url(../imgs/bt_buscar.png);
    background-repeat:no-repeat;
    background-position:left;
    font-size:12px;
    line-height:30px;
    font-style:italic;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
}

a.busquedavanzada:hover {
    background-color:#87A7BB;
    color: black;
}

a.anadirimagen {
    float: left;
    height: 163px;
    width: 150px; /* for validator */
    display: block;
    background-repeat: no-repeat;
    margin-right: 0px;
    background-image: url(../imgs/bt_anadirimagen.png);
    background-position: 0px 20px;
}
a.anadirimagen:hover {
    background-position: 0px -144px;
}

a.anadirimagenes {
    float: left;
    height: 163px;
    width: 150px; /* for validator */
    display: block;
    background-repeat: no-repeat;
    margin-right: 0px;
    background-image: url(../imgs/bt_anadirimagenmas.png);
    background-position: 0px 20px;
}
a.anadirimagenes:hover {
    background-position: 0px -144px;
}


a.evo01 {
    background-image: url("../imgs/evo01.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 40px;
    margin: 5px;
    width: 168px;
    border-radius:5px;
    border-color:#51809A;
}
a.evo01:hover {
    background-position: 0 -42px;
}
a.evo02 {
    background-image: url("../imgs/evo02.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 40px;
    margin: 5px;
    width: 168px;
}
a.evo02:hover {
    background-position: 0 -42px;
}

.TextoTipificacionModificacion {
    color: #999999;
    font-family: Verdana,Geneva,sans-serif;
    font-style: italic;
    text-align: left;
    width: 100%;
    font-size: 1em;
}

.TituloModificarProyecto {
    color: #FF9900;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    line-height: 20px;
}

.NoFileModificar {
    color: #FF9900;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 9px;
    font-style: italic;
    line-height: 9px;
}

a.ikont-acl-prorroga {
    float: left;
    height: 60px;
    width: 140px; /* for validator */
    display: block;
    background-repeat: no-repeat;
    margin-right: 0px;
    background-image:url(../imgs/bt_01.png);
    background-position: 0px 0px;
}
a.ikont-acl-prorroga:hover {
    background-position: 0px -60px;
}

a.ikont-acl-adicionpresupuesto {
    float: left;
    height: 60px;
    width: 140px; /* for validator */
    display: block;
    background-repeat: no-repeat;
    margin-right: 0px;
    background-image:url(../imgs/bt_02.png);
    background-position: 0px 0px;
}
a.ikont-acl-adicionpresupuesto:hover {
    background-position: 0px -60px;
}

a.ikont-acl-adicionactividades {
    float: left;
    height: 60px;
    width: 140px; /* for validator */
    display: block;
    background-repeat: no-repeat;
    margin-right: 0px;
    background-image:url(../imgs/bt_04.png);
    background-position: 0px 0px;
}
a.ikont-acl-adicionactividades:hover {
    background-position: 0px -60px;
}

a.ikont-acl-cambioprecios {
    float: left;
    height: 60px;
    width: 140px; /* for validator */
    display: block;
    background-repeat: no-repeat;
    margin-right: 0px;
    background-image:url(../imgs/bt_03.png);
    background-position: 0px 0px;
}
a.ikont-acl-cambioprecios:hover {
    background-position: 0px -60px;
}

