@font-face {
    font-family: "bebas"!important;
    src: url("font/BEBAS___.TTF")!important;

}

@font-face {
    font-family: "century"!important;
    src: url("font/Century-Gothic.ttf")!important;
}

@font-face {
    font-family: "futura"!important;
    src: url("font/futura-light-bt.ttf")!important;
}

.rf-pp-shade {
    background-color: rgba(0,0,0,0.8)!important;
}

.rf-pp-cnt-scrlr{
    background: transparent!important;
    border: solid 1px transparent !important;
}

.rf-pp-cntr{
    background: transparent!important;
    border: solid 1px transparent !important;
}

.rf-pp-shdw{
    background: transparent!important;
    border: solid 1px transparent !important;
}

.modal-font{
    width: 100%!important;
    height: 100%!important;
    position: fixed!important;
    top: 0!important;
    left: 0!important;
    background-color: rgba(0,0,0,0.5)!important;
    z-index: 19999!important;
}

.modal-content{
    position: fixed!important;
    top: 20%!important;
    left: 30%!important;
    width: 700px!important;
    height: 500px!important;
    position: fixed!important;
    margin-left: auto!important;
    margin-right: auto!important;
    z-index: 20000!important;
}

.modal-header{
    width: 100%!important;
    clear: both!important;
    height: 50px!important;
    border-color: transparent!important;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(29,98,159,0.8)), to(rgba(28,43,56,0.8))) !important;
    background: -moz-linear-gradient(top, rgba(29,98,159,0.8), rgba(28,43,56,0.8)) !important;
    background: -ms-linear-gradient(top, rgba(29,98,159,0.8) 30%, rgba(28,43,56,0.8) 70%)!important;
    background: -o-linear-gradient(top,rgba(29,98,159,0.8), rgba(28,43,56,0.8))!important;
    -moz-border-top-left-radius: 20px!important; 
    -moz-border-top-right-radius: 20px!important; 
    -ms-border-top-left-radius: 20px!important; 
    -ms-border-top-right-radius: 20px!important; 
    -webkit-border-top-left-radius: 20px!important; 
    -webkit-border-top-right-radius: 20px!important; 
    border-top-left-radius: 20px!important; 
    border-top-right-radius: 20px!important; 
    margin-left: 1px !important;
}

.modal-body{
    width: 100%!important;
    height: 450px!important;    
    border-width: 0px!important;
    border: transparent !important;
    -moz-border-top-right-radius: 0px!important;
    -ms-border-top-right-radius: 0px!important;
    -webkit-border-top-right-radius: 0px!important;
    border-top-right-radius: 0px!important;
    -moz-border-bottom-right-radius: 20px !important; 
    -ms-border-bottom-right-radius: 20px !important; 
    -webkit-bottom-right-radius: 20px !important; 
    border-bottom-right-radius: 20px !important; 
    -moz-border-bottom-left-radius: 20px !important; 
    -ms-border-bottom-left-radius: 20px !important; 
    -webkit-bottom-left-radius: 20px !important; 
    border-bottom-left-radius: 20px !important;    
    -moz-box-shadow: transparent !important;
    -webkit-box-shadow: transparent !important;
    -ms-box-shadow: transparent !important;
    box-shadow: transparent !important;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(29,98,159,0.7)), to(rgba(28,43,56,0.7))) !important;
    background: -moz-linear-gradient(top, rgba(29,98,159,0.7), rgba(28,43,56,0.7)) !important;
    background: -ms-linear-gradient(top, rgba(29,98,159,0.8) 30%, rgba(28,43,56,0.8) 70%)!important;
    background: -o-linear-gradient(top,rgba(29,98,159,0.7), rgba(28,43,56,0.7))!important;
}


.modal-body table{
    border-collapse: inherit!important;
    border-spacing: 0!important;
    border-color: inherit!important;
}
.modal-imagotipo{
    margin-left: 15px!important;

}

.modal-title{
    width: 600px!important;
    color: white !important;
    font-family: "century"!important;

}

.modal-title label.lable-title{
    width: 450px!important;
    font-size: larger!important;
    text-transform: uppercase!important;
}


#after{
    background-image: url("../imgs/scroll-left.png")!important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
    float: left!important;
    width: 35px!important;
    height: 50px!important;
    background-color: rgba(255,255,255,0.4)!important;
    position: relative!important;
    top: 185px!important;
    cursor: pointer!important;
}


#before{    
    background-image: url("../imgs/scroll-right.png")!important;
    background-position: center center!important;
    background-repeat: no-repeat!important;
    float: right!important;
    width: 35px!important;
    height: 50px!important;
    background-color: rgba(255,255,255,0.4)!important;
    position: relative!important;
    top: 185px!important;
    cursor: pointer!important;
}

#after:hover, #before:hover{
    background-color: rgba(255,255,255,0.7)!important;
}

#after input[type=button], #before input[type=button]{
    width: 35px!important;
    height: 50px!important;
    background: transparent!important;
    border: none!important;
}


#content{
    width: 560px!important;
    height: 350px!important;
    position: relative!important;
    left: 70px!important;
}

ul#slider{
    height: 350px!important;
    overflow: hidden!important; 
    position: relative!important; 
    width: 520px!important;
}

ul#slider li > div{
    width: 560px!important;
    height: 350px!important;
    color: white!important;
    text-align: justify!important;
}

ul#slider li{
    list-style-type: none!important;
    position: absolute!important;
    left: 0!important;
    top: 0!important;
    visibility: hidden!important;  
}

#what-siente-title{
    width: 400px!important;
    margin-left: auto!important;
    margin-right: auto!important;
    font-family: "century"!important;
    font-weight: bold!important;
    font-size: 35px!important;
}

#what-siente{
    width: 400px!important;
    margin-left: auto!important;
    margin-right: auto!important;
    font-family: "century"!important;
    font-size: 15px!important;
}

#what-siente label{
    text-align: center!important;
}

#vidio{
    position: relative!important;
    left: 50px!important;
    background: white!important;
    height: 330px!important;
    width: 490px!important;
    -webkit-border-radius: 10px!important;
    -moz-border-radius: 10px!important;
    -o-border-radius: 10px!important;
    -ms-border-radius: 10px!important;
    border-radius: 10px!important;
    background-color: rgba(255, 255, 255, 0.72)!important;
}

#vidio video{
    width: 460px!important;
    height: 300px!important;
    margin-left: 10px!important;
    margin-top: 10px!important;
    border: solid 5px #1D629F!important;
    -webkit-border-radius: 10px!important;
    -moz-border-radius: 10px!important;
    -o-border-radius: 10px!important;
    -ms-border-radius: 10px!important;
    border-radius: 10px!important;
}


.div-option{
    position: relative!important;
    top: 400px!important;
    text-align: center!important;
}

.div-option label{
    -webkit-border-radius: 5px!important;
    -moz-border-radius: 5px!important;
    -o-border-radius: 5px!important;
    -ms-border-radius: 5px!important;
    border-radius: 5px!important;
    display: inline-block!important;
    width: 10px!important;
    height: 10px!important;
    background:  #1D629F!important;
    margin: 7px!important;
    cursor: pointer!important;
}

.div-option label.active{
    background: white!important;
}

.div-option label.inactive{
    background: #1D629F!important;
}

.what-siente-img{
    margin-left: 170px!important;
    margin-top: 30px!important;
}

#slider-li-one{
    left: 0%!important;
    visibility: visible !important;
    transition:left 1s linear!important;
    transition-property:left 1s linear!important;
    -moz-transition:left 1s linear!important;
    -webkit-transition:left 1s linear!important;
    -o-transition:left 1s linear!important;
    -ms-transition:left 1s linear!important;
}

#slider-li-two{
    left: 100%!important;
    visibility: visible !important;
    transition:left 1s linear!important;
    transition-property:left 1s linear!important;
    -moz-transition:left 1s linear!important;
    -webkit-transition:left 1s linear!important;
    -o-transition:left 1s linear!important;
    -ms-transition:left 1s linear!important;
}

#slider-li-tree{
    left: 200%!important;
    visibility: visible !important;
    transition:left 1s linear!important;
    transition-property:left 1s linear!important;
    -moz-transition:left 1s linear!important;
    -webkit-transition:left 1s linear!important;
    -o-transition:left 1s linear!important;
    -ms-transition:left 1s linear!important;
}

#slider-li-one.animation-one-right{
    left:-100%!important;    
}
#slider-li-two.animation-one-right{
    left:0%!important;
}
#slider-li-tree.animation-one-right{
    left:100%!important;
}

#slider-li-one.animation-one-left{
    left:0%!important;
}
#slider-li-two.animation-one-left{
    left:100%!important;
}
#slider-li-tree.animation-one-left{
    left:200%!important;
}

#slider-li-one.animation-one-right-two{
    left:-200%!important;    
}
#slider-li-two.animation-one-right-two{
    left:-100%!important;
}
#slider-li-tree.animation-one-right-two{
    left:0%!important;
}

#slider-li-one.animation-one-left-two{
    left:-100%!important;
}
#slider-li-two.animation-one-left-two{
    left:0%!important;
}
#slider-li-tree.animation-one-left-two{
    left:100%!important;
}