/*********** modal dialog***************/
@font-face {
    font-family: "bebas"!important;
    src: url("/siente/resources/css/font/BEBAS___.TTF")!important;

}
@font-face {
    font-family: "century"!important;
    src: url("/siente/resources/css/font/Century-Gothic.ttf")!important;
}

.style-modal-dialog{

}

.style-modal-dialog div.rich-mpnl-mask-div{
    background-color: rgba(0,0,0,0.5)!important;
}

.rf-pp-cntr.style-modal-dialog{
    background: transparent !important;
}

.style-modal-dialog-head{
    font-size: 13px!important;
    font-weight: 100!important;
    height: 50px!important;
    line-height: 20px!important;
    text-indent: 10px!important;
    width: auto!important;
    border-style: none!important;
    border-width: 0px!important;
    border-color: transparent!important;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(29,98,159,0.85)), to(rgba(28,43,56,0.85))) !important;
    background: -moz-linear-gradient(top, rgba(29,98,159,0.85), rgba(28,43,56,0.85)) !important;
    background: -ms-linear-gradient(top, rgba(29,98,159,0.85) 30%, rgba(28,43,56,0.85) 70%)!important;
    background: -o-linear-gradient(top,rgba(29,98,159,0.85), rgba(28,43,56,0.85))!important;
    -moz-border-top-left-radius: 20px!important; 
    -moz-border-top-right-radius: 20px!important; 
    -ms-border-top-left-radius: 20px!important; 
    -ms-border-top-right-radius: 20px!important; 
    -webkit-border-top-left-radius: 20px!important; 
    -webkit-border-top-right-radius: 20px!important; 
    border-top-left-radius: 20px!important; 
    border-top-right-radius: 20px!important;   
}

.style-modal-dialog-head table{
    margin: 0px!important;
}

.style-modal-dialog .rf-pp-cnt-scrlr{
    border-style: none!important;
    border-width: 0px!important;
    font-size: 14px!important;
    border: transparent !important;
    -moz-border-top-right-radius: 0px!important;
    -ms-border-top-right-radius: 0px!important;
    -webkit-border-top-right-radius: 0px!important;
    border-top-right-radius: 0px!important;
    -moz-border-bottom-right-radius: 20px !important; 
    -ms-border-bottom-right-radius: 20px !important; 
    -webkit-bottom-right-radius: 20px !important; 
    border-bottom-right-radius: 20px !important; 
    -moz-border-bottom-left-radius: 20px !important; 
    -ms-border-bottom-left-radius: 20px !important; 
    -webkit-bottom-left-radius: 20px !important; 
    border-bottom-left-radius: 20px !important;    
    -moz-box-shadow: transparent !important;
    -webkit-box-shadow: transparent !important;
    -ms-box-shadow: transparent !important;
    box-shadow: transparent !important;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(29,98,159,0.85)), to(rgba(28,43,56,0.85))) !important;
    background: -moz-linear-gradient(top, rgba(29,98,159,0.85), rgba(28,43,56,0.85)) !important;
    background: -ms-linear-gradient(top, rgba(29,98,159,0.8) 30%, rgba(28,43,56,0.8) 70%)!important;
    background: -o-linear-gradient(top,rgba(29,98,159,0.85), rgba(28,43,56,0.85)) !important;
}

.style-modal-dialog-button-close{
    background-image: url("../imgs/modal/btn_cerrar.png")!important;
    background-position: center center fixed!important;
    background-repeat: no-repeat!important;
    float: right!important;
    height: 20px!important;
    width: 20px!important;
    position: relative!important;
    top: 10px!important;
    left: -20px!important;
}

.style-modal-dialog-head-title{
    color: white !important;
    font-size: 130% !important;
}

.serch-advanced-header{
    width: 100%!important;
    height: 80px!important;
    color: white!important;
    font-family: "century"!important;

}

.serch-advanced-header div{
    margin-top: 30px!important;
}

.serch-advanced-header div input[type=text]{
    width: 350px!important;
    color: white!important;
    background-color:transparent!important;
    -moz-border-radius: 10px!important;
    -ms-border-radius: 10px!important;
    -webkit-border-radius: 10px!important;
    border-radius: 10px!important;
    border: solid 1px white!important;
    margin-left: 10px!important;
    padding-left: 5px!important;
}

.serch-advanced-body{
    width: 100%!important;
    height: 100%!important;
}

.modal-body{
    width: 100%!important;
    height: 450px!important;
    border-width: 0px!important;
    border: transparent !important;
    -moz-border-top-right-radius: 0px!important;
    -ms-border-top-right-radius: 0px!important;
    -webkit-border-top-right-radius: 0px!important;
    border-top-right-radius: 0px!important;
    -moz-border-bottom-right-radius: 20px !important;
    -ms-border-bottom-right-radius: 20px !important;
    -webkit-bottom-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    -moz-border-bottom-left-radius: 20px !important;
    -ms-border-bottom-left-radius: 20px !important;
    -webkit-bottom-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    -moz-box-shadow: transparent !important;
    -webkit-box-shadow: transparent !important;
    -ms-box-shadow: transparent !important;
    box-shadow: transparent !important;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(29,98,159,0.7)), to(rgba(28,43,56,0.7))) !important;
    background: -moz-linear-gradient(top, rgba(29,98,159,0.7), rgba(28,43,56,0.7)) !important;
    background: -ms-linear-gradient(top, rgba(29,98,159,0.8) 30%, rgba(28,43,56,0.8) 70%)!important;
    background: -o-linear-gradient(top,rgba(29,98,159,0.7), rgba(28,43,56,0.7))!important;
}


.modal-body table{
    border-collapse: inherit!important;
    border-spacing: 0!important;
    border-color: inherit!important;
}


.serch-advanced-footer{
    width: 100%!important;
    height: 350px!important;
    color: white!important;
    font-family: "century"!important;
}

.serch-advanced-footer label{
    font-size: 100%!important;
}

.serch-advanced-footer table.bottom{
    margin-bottom: 10px!important;
}

.serch-advanced-footer img.top{
    position: relative!important;
    top: -15px!important;
}


.serch-advanced-footer input[type=text]{
    width: 312px!important;
    color: white!important;
    background-color:transparent!important;
    -moz-border-radius: 10px!important;
    -ms-border-radius: 10px!important;
    -webkit-border-radius: 10px!important;
    border-radius: 10px!important;
    border: solid 1px white!important;
    padding-left: 5px!important;
}
.serch-advanced-footer select{
    width: 150px!important;
    color: white!important;
    appearance:none!important;
    -webkit-appearance: none!important;
    -moz-appearance:none!important;
    -mn-appearance: none!important;
    -o-appearance: none!important;
    -moz-border-radius: 10px!important;
    -ms-border-radius: 10px!important;
    -webkit-border-radius: 10px!important;
    border-radius: 10px!important;
    border: solid 1px white!important;
    background: url("img/fecha_abajo.png") no-repeat right transparent!important;
    padding-left: 5px!important;
    font-style: normal!important;
}

.serch-advanced-footer option{
    color: black!important;
}

.serch-advanced-footer .select-two{
    margin-left: 10px!important;
}

.serch-advanced-footer input[type=submit]{
    position: relative!important;
    top: 20px!important;
    height: 21px!important;
    color: black!important;
    width: 100px!important;
    background-color: whitesmoke!important;
    font-size: 12px!important;
    font-family: "century"!important;
    -moz-border-radius: 10px!important;
    -ms-border-radius: 10px!important;
    -webkit-border-radius: 10px!important;
    border-radius: 10px!important;
    background: -webkit-gradient(linear, left top, left bottom, from(#F9D10D), to(#F6A502), color-stop(0.7, #F6A502))!important;
    background: -moz-linear-gradient(top, #F9D10D, #F6A502)!important;
    background: -ms-linear-gradient(top, rgba(249,209,13, 1) 0%, rgba(246,165,2,1) 100%)!important;
    background: -o-linear-gradient(top, #F9D10D, #F6A502)!important;
    border: solid 1px #F6A502!important;
}

.serch-advanced-footer input[type=button]:hover{
    color: white!important;
}

.serch-advanced-footer .radio-une{
    margin-left: 55px!important;
}


.combociuda
{
    background-color: transparent!important;
}

.combociuda input[type=text]{
    width: 300px!important;
    color: white!important;
    background-color:transparent!important;
    -moz-border-radius: 10px!important;
    -ms-border-radius: 10px!important;
    -webkit-border-radius: 10px!important;
    border-radius: 10px!important;
    border: solid 1px white!important;
    padding-left: 0px!important;
}

.combociuda input.rich-combobox-font-inactive, input.rich-combobox-font-inactive, input.rich-combobox-item {
    color: #FFFFFF!important;
    font-family: Arial,Verdana,sans-serif!important;
    font-size: 14px!important;
}
.consulconvenio input.rich-combobox-font-inactive, input.rich-combobox-font-inactive, input.rich-combobox-item {
    color: #FFFFFF!important;
    font-family: Arial,Verdana,sans-serif!important;
    font-size: 14px!important;
}

.combociuda input.rich-combobox-input, input.rich-combobox-input-disabled {

}
.combociuda input.rich-combobox-font-inactive, input.rich-combobox-font-inactive, input.rich-combobox-item {
    color: #FFFFFF!important;
    font-family: Arial,Verdana,sans-serif!important;
    font-size: 11px!important;
    margin: 0!important;
    padding: 0!important;
}

.consulconvenio input.rich-combobox-font-inactive, input.rich-combobox-font-inactive, input.rich-combobox-item {
    color: #000000!important;
    font-family: Arial,Verdana,sans-serif!important;
    font-size: 11px!important;
    margin: 0!important;
    padding: 0!important;
}
.consulconvenio input.rich-combobox-font, input.input.rich-combobox-font {
    color: #000000!important;
    font-family: Arial,Verdana,sans-serif!important;
    font-size: 11px!important;
}
.consulconvenio input.rich-combobox-font, input.rich-combobox-font {
    color: #000000!important;
    font-family: Arial,Verdana,sans-serif!important;
    font-size: 11px!important;
}
.combociuda input.rich-combobox-font, input.input.rich-combobox-font {
    color: #FFFFFF!important;
    font-family: Arial,Verdana,sans-serif!important;
    font-size: 11px!important;
}
.combociuda input.rich-combobox-font, input.rich-combobox-font {
    color: #FFFFFF!important;
    font-family: Arial,Verdana,sans-serif!important;
    font-size: 11px!important;
}

.combociuda input.rich-combobox-font-inactive, input.rich-combobox-font-inactive, input.rich-combobox-item {
}
.combociuda input.rich-combobox-button, input.rich-combobox-button-inactive, input.rich-combobox-button-disabled {
    background-repeat: no-repeat!important;
    background-position: right!important;
    background-image: url("/siente/a4j/g/3_3_2.SR1org.richfaces.renderkit.html.images.ComboBoxArrowImage/DATB/eAFjYGD4f-!Y1XuPARKPBTo_")!important;
}
.combociuda input.rich-combobox-button-icon, input.rich-combobox-button-icon-inactive {
    background-repeat: no-repeat!important;
    background-position: right!important;
    background-image: url("/siente/a4j/g/3_3_2.SR1org.richfaces.renderkit.html.images.ComboBoxArrowImage/DATB/eAFjYGD4f-!Y1XuPARKPBTo_")!important;
}

.combociuda input.rich-combobox-button-inactive {

}

.modal-title{
    width: 600px!important;
    color: white !important;
    font-family: "century"!important;
    font-size: 16px!important;

}

.modal-title label.lable-title{
    width: 450px!important;
    font-size: larger!important;
}

#queessiente_header_content table{
    margin: 0px;
}

#queessiente_header_content span{
    font-family: "century"!important;
    font-size: 18px;
    font-weight: bolder;
}

#queessiente_content{
    border: solid 0px transparent;
}

#what-siente span{
    color : #FFF!important;
    font-size: 16px;
}

.ikont-l-whatsientetitle{
    font-size: 35px!important;
}

.ikont-font-modal-search-ciu{
    color: #FFF!important;
    font-family: "century"!important;
    font-size: 15px!important;
}

.ikont-font-check-proyectos-ciu{
    color: #FFF!important;
    font-family: "century"!important;
    font-size: 11px!important;
    margin: 0px 5px;
}

.ikont-hsor-boolcomentario{
    margin-left: 30px;
}

.style-modal-dialog-text-body{
    color: #FFF!important;
    font-family: "century"!important;
    font-size: 13px!important;
}

.style-modal-dialog-title-body{
    color: #FFF!important;
    font-family: "century"!important;
    font-size: 16px!important;
}

.style-modal-dialog .rf-pp-cnt{
    border: solid 0px transparent!important;
}