/* 
    Document   : ControlGerencial
    Created on : May 29, 2013, 4:56:08 PM
    Author     : Daniela
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

