/* 
    Document   : tipificacionproyecto
    Created on : Jun 7, 2013, 12:15:27 PM
    Author     : Daniela
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

