/* 
    Document   : newcssUbicacionNuevaObra
    Created on : Jun 7, 2013, 12:14:48 PM
    Author     : Daniela
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

