/* 
    Document   : cargarExcelFinanciera
    Created on : 6/06/2013, 03:25:27 PM
    Author     : JCastrillon
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

