.tabla {
    width: 100%;    
    font-family:arial,verdana,times;
    font-size:12px;
}
.tabla p {
    clear:both;
    width: 100%;
    margin: 0;
}
.tabla p > div{
    padding: 1px;
    float:left;
    width:100px;
}

.tabla .columna {
    padding: 2px;
    float:left;
}

.modal-content-fonade{
    width: 450px;
    height: 200px;    
}

.modal-header-fonade{
    width: 100%;
    clear: both;
    height: 40px;
    border-color: transparent;
    background-color: #257500;
}

.modal-body-fonade{
    width: 100%;
    height: 160px;    
    border-width: 0px;
    border: transparent !important;
    background-color: #FFF;
}

.modal-content label, .modal-content div, .modal-content p{
    font-family: 'open';
}

.textvalla1{
    color: #FFF;
    font-size: 1em;
    position: relative;
    top: 5px;
    left: 10px;
    font-family: "open";
}
.textvalla2{
    font-size: 1.1em;
    font-family: "open";
}

.textvalla3{
    font-size: 1.1em;
    font-weight: bolder;
    font-family: "open";
}

.textvalla4{
    font-size: 1.1em;
    width: 180px;
    overflow: hidden;
    float: left;
    font-family: "open";
}

.textvalla5{
    font-size: 1.8em;
    font-family: "open";
}

.textvalla6{
    font-size: 2em;
    color: #585858;
    margin: 5px;
    font-family: "open";
}

.textvalla7{
    color: #257500;
    font-weight: bolder!important;
    font-family: open!important;
    margin-left: 20px;    
}

.content-left{
    width: 310px!important;
    float: left;
}

.content-rigth{
    width: 130px!important;
    float: left;
}

.imagotipo{
    float: left;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 2px;
    background-image: url("../imgs/valla/imagotipo.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 30px 30px;
}

.vallacontentinfo{
    border-width: 1px;
    border-style: solid;
    border-color: silver;
    border-radius: 5px;
    width: 68px;
    height: 50px;
    margin-right: 3px;
}

.imgsemaforo{
    background-image: url("../imgs/valla/semaforo_sprite.png");
    background-repeat: no-repeat;
    width: 65px;
    height: 25px;
    display: block !important;
    margin-top: 17px;
}

.imgsemaforo.semaforoverde{
    background-position: 0px 0px;
}

.imgsemaforo.semaforoamarillo{
    background-position: 0px -30px;
}

.imgsemaforo.semafororojo{
    background-position: 0px -60px;
}

.imgvalla{
    width: 120px;
    height: 100px;
}

.imgtipo{
    background-image: url("../imgs/valla/tipo_sprite.png");
    background-repeat: no-repeat;
    background-size: 200px 120px;
    width: 40px;
    height: 40px;
    display: block !important;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.imgtipo.tipo1{
    background-position: -40px -40px;
}

.imgtipo.tipo2{
    background-position: -120px 0px;
}

.imgtipo.tipo3{
    background-position: -40px 0px;
}

.imgtipo.tipo4{
    background-position: -160px -80px;
}

.imgtipo.tipo5{
    background-position: 0px -40px;
}

.imgtipo.tipo6{
    background-position: -160px -40px;
}

.imgtipo.tipo7{
    background-position: -120px -40px;
}

.imgtipo.tipo8{
    background-position: -80px -40px;
}

.imgtipo.tipo9{
    background-position: -160px 0px;
}

.imgtipo.tipo10{
    background-position: -80px 0px;
}

.imgtipo.tipo11{
    background-position: 0px 0px;
}

.imgtipo.tipo12{
    background-position: -120px -80px;
}

.imgtipo.tipo13{
    background-position: -80px -40px;
}

.imgtipo.tipo14{
    background-position: -0px -80px;
}

.imgtipo.tipo15{
    background-position: -160px -40px;
}

.imgtipo.tipo16{
    background-position: 0px -40px;
}

.imgestado{
    background-image: url("../imgs/valla/estado_sprite.png");
    background-repeat: no-repeat;
    background-size: 105px 70px;
    width: 35px;
    height: 35px;
    display: block !important;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.imgestado.estado0{
    background-position: 0px 0px;
}

.imgestado.estado1{
    background-position: -35px 0px;
}

.imgestado.estado2{
    background-position: -35px -35px;
}

.imgestado.estado5{
    background-position: 0px -35px;
}

.imgestado.estado6{
    background-position: -70px 0px;
}


.imgaction{
    background-image: url("../imgs/valla/btns_sprite.png");
    background-repeat: no-repeat;
    background-size: 75px 36px;
    width: 25px;
    height: 20px;
    display: block!important;
    cursor: pointer;
}

.imgaction.button1{
    background-position: 0px 3px;
}

.imgaction.button2{
    background-position: -25px 3px;
}

.imgaction.button3{
    background-position: -50px 3px;
}
.imgaction.button1:hover{
    background-position: 0px -16px;
}

.imgaction.button2:hover{
    background-position: -25px -16px;
}

.imgaction.button3:hover{
    background-position: -50px -16px;
}

.imgaction:link {
    position: relative;
}

.imgaction:after{
    font-family: "open";
    content: attr(value);
    position: absolute;
    color: white;
    top: auto;
    left: auto;
    font-size: 1.2em;
    background-color: rgba(0,0,0,0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0.8, StartColorstr='#000000', EndColorstr='#000000');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0.8, StartColorstr='#000000', EndColorstr='#000000');
    padding: 5px 15px;
    display: none;
    -moz-border-radius: 10px ; 
    -ms-border-radius: 10px ; 
    -webkit-border-radius: 10px ; 
    border-radius: 10px; 
    margin-left: -35px;
    margin-top: -25px;
    z-index: 1;
}
a.imgaction:hover:after{
    display: block;    
}

.tool{
    cursor: pointer;
}

.tool div{
    -moz-transform: scaleY(0);-moz-transform-origin: 50% 0;-moz-transition: all 0.5s ease 0s;
    -webkit-transform: scaleY(0);-webkit-transform-origin: 50% 0;-webkit-transition: all 0.5s ease 0s;
    -o-transform: scaleY(0);-o-transform-origin: 50% 0;-o-transition: all 0.5s ease 0s;
    -ms-transform: scaleY(0);-ms-transform-origin: 50% 0;-ms-transition: all 0.5s ease 0s;
    transform: scaleY(0);transform-origin: 50% 0;transition: all 0.5s ease 0s;
    -ms-border-radius: 10px ; border-radius: 10px; 
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
    color: white!important;
    font-size: 1em;
    font-family: "open";
    opacity: 0;
    padding: 5px;
    width: auto;
    position: absolute;
    color: white;
    top: auto;
    left: auto;
    z-index: 1000;
}

.tool:hover div {
    -moz-transform: scaleY(1);-webkit-transform: scaleY(1);-o-transform: scaleY(1);-ms-transform: scaleY(1);transform: scaleY(1);
    opacity: 1;
}

.imgestado:after{
    font-family: "century";
    content: attr(value);
    position: absolute;
    color: white;
    top: auto;
    left: auto;
    font-size: 1.2em;
    background-color: rgba(0,0,0,0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0.8, StartColorstr='#000000', EndColorstr='#000000');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0.8, StartColorstr='#000000', EndColorstr='#000000');
    padding: 5px 15px;
    display: none;
    -moz-border-radius: 10px ; 
    -ms-border-radius: 10px ; 
    -webkit-border-radius: 10px ; 
    border-radius: 10px; 
    margin-left: 35px;
    margin-top: 10px;
    z-index: 1;
}
.imgestado:hover:after{
    display: block;    
}

.imgtipo:after{
    font-family: "century";
    content: attr(value);
    position: absolute;
    color: white;
    top: auto;
    left: auto;
    font-size: 1.2em;
    background-color: rgba(0,0,0,0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0.8, StartColorstr='#000000', EndColorstr='#000000');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0.8, StartColorstr='#000000', EndColorstr='#000000');
    padding: 5px 15px;
    display: none;
    -moz-border-radius: 10px ; 
    -ms-border-radius: 10px ; 
    -webkit-border-radius: 10px ; 
    border-radius: 10px; 
    margin-left: 35px;
    margin-top: 10px;
    z-index: 1;
}
.imgtipo:hover:after{
    display: block;    
}

