/* 
    Document   : HomeSolicitudesObra
    Created on : 6/06/2013, 03:59:56 PM
    Author     : JCastrillon
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

