/* 
    Document   : ConsultarSolicitud
    Created on : 6/06/2013, 05:05:24 PM
    Author     : desarrollo6
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

