/* 
    Document   : HomeSupervisionExterna
    Created on : 7/06/2013, 08:37:42 AM
    Author     : desarrollo6
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

