/* 
    Document   : SeguimientosRegistros
    Created on : 7/06/2013, 08:38:19 AM
    Author     : desarrollo6
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

