/* 
    Document   : SupervisionBotones
    Created on : 7/06/2013, 08:38:30 AM
    Author     : desarrollo6
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

