/* 
    Document   : listadoObrasSuperiores
    Created on : 6/06/2013, 08:40:11 AM
    Author     : desarrollo6
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

