/* 
    Document   : listadoencargofidu
    Created on : 6/06/2013, 08:58:55 AM
    Author     : desarrollo6
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

