<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.password">cobradatabase</property>
    <property name="hibernate.connection.url">jdbc:postgresql:cobrasienten</property>
    <property name="hibernate.connection.username">cobra</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.pool_size">400</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="pojos/Tipoestadobra.hbm.xml"/>
    <mapping resource="pojos/Tipocontratoconsultoria.hbm.xml"/>
    <mapping resource="pojos/Evento.hbm.xml"/>
    <mapping resource="pojos/Modalidadcontratista.hbm.xml"/>
    <mapping resource="pojos/Tipocontrato.hbm.xml"/>
    <mapping resource="pojos/Periodoevento.hbm.xml"/>
    <mapping resource="pojos/Contrato.hbm.xml"/>
    <mapping resource="pojos/Tercero.hbm.xml"/>
    <mapping resource="pojos/Estadoconvenio.hbm.xml"/>
    <mapping resource="pojos/Formapago.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="pojos/SubTipoTercero.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="pojos/Tipotercero.hbm.xml"/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping/>
    <mapping resource="pojos/Clasificaciontercero.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
