/* 
    Document   : factoresAtrasoModal
    Created on : 5/06/2013, 05:49:06 PM
    Author     : desarrollo6
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

