/* 
    Document   : logrosModalDetalle
    Created on : 6/06/2013, 09:31:47 AM
    Author     : desarrollo6
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

